<div class="formulario">
  <label for="nombre">Nombre:</label>
  <input id="nombre" [(ngModel)]="nombre" type="text" placeholder="Nombre de la planta" />

  <div class="radio-group">
    <div class="radio-img arbusto" [ngClass]="{'selected': tipo === 'Arbusto'}" (click)="tipo='Arbusto'"></div>
    <div class="radio-img arbol" [ngClass]="{'selected': tipo === 'Árbol'}" (click)="tipo='Árbol'"></div>
  </div>

  <div class="botones">
    <button class="boton-verde" (click)="guardarPlanta()">✔</button>
    <button class="boton-rojo" (click)="limpiarFormulario()">✖</button>
  </div>
</div>